/*------------------------------------*\
	$RESET
\*------------------------------------*/
/**
 * A more considered reset; more of a restart...
 * As per: csswizardry.com/2011/10/reset-restarted
 */

@if $global-border-box == true {
	/**
	* Let's make the box model all nice, shall we...?
	*/
	* {
		&,
		&:before,
		&:after {
			box-sizing: border-box;
		}
	}
}

/**
 * The usual...
 */
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr,
.box {

	margin: 0;
	padding: 0;
	@if $vertical-rhythm == true {
		/**
		 * Where `margin-bottom` is concerned,this value will be the same as the
		 * base line-height. This allows us to keep a consistent vertical rhythm.
		 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
		 */
		margin-bottom: $base-spacing-unit;
		margin-bottom: ($base-spacing-unit / $base-font-size) * 1rem;
	}
}

ul{
	list-style-type: none;
}

/**
 * Give a help cursor to elements that give extra info on ':hover'.
 */
abbr[title], dfn[title]{
	cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
u,ins {
	text-decoration: none;
}


/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option{
	cursor: pointer;
}
	.input--text:active,
	.input--text:focus,
	textarea:active,
	textarea:focus{
		cursor: text;
		outline: none;
	}
